<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghj.dao.UserMapper">

    <select id="getUserList" resultType="shabi">
       select * from malajava.kecheng
    </select>

    <select id="getById" parameterType="_int" resultType="com.ghj.pojo.User">
        select * from malajava.kecheng where id = #{id}
    </select>
    
    <insert id="addUser" parameterType="com.ghj.pojo.User">
        insert into malajava.kecheng (id, name, keshi) values (#{id}, #{name}, #{keshi})
    </insert>
    
    <delete id="deleteUser" parameterType="int">
        delete from malajava.kecheng where id = #{id}
    </delete>

    <update id="updateUser" parameterType="com.ghj.pojo.User">
        update malajava.kecheng set name = #{name}, keshi = #{keshi} where id = #{id}
    </update>


</mapper>