<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="MainUser" class="com.ghj.dao.MainUser"/>
    <bean id="SqlUser" class="com.ghj.dao.SqlUser"/>

    <bean id="ServiceUserImpl" class="com.ghj.service.ServiceUserImpl">
        <property name="user" ref="SqlUser"/>
    </bean>
</beans>