<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <bean id="userService" class="com.ghj.service.UserServiceImpl"/>
    <bean id="log" class="com.ghj.log.Log"/>
    <bean id="afterLog" class="com.ghj.log.AfterLog"/>
    <bean id="around" class="com.ghj.log.MethodAround"/>
<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.ghj.service.UserServiceImpl.*(..))"/>-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->
    <bean id="diy" class="com.ghj.diy.DiyPointCut"/>
    <bean id="annotationPointCut" class="com.ghj.diy.AnnotationPointCut"/>

<!--    开启aop注解-->
<!--    <aop:aspectj-autoproxy/>-->
    <aop:config>
        <aop:aspect ref="diy">
            <aop:pointcut id="pointcut" expression="execution(* com.ghj.service.UserServiceImpl.*(..))"/>
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
            <aop:around method="around" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturn" pointcut-ref="pointcut" returning="result"/>
            <aop:declare-parents types-matching="com.ghj.service.UserServiceImpl" implement-interface="java.util.List"
                                 default-impl="java.util.ArrayList"/>
        </aop:aspect>
    </aop:config>

</beans>